body {
    width: 40%;
    margin: auto;
    background-image:url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    border: 0px solid white;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: auto;
}


h1 {
    text-align: center;
    color: #C4122E;
}

nav ul {
    margin: auto;
    text-align: center;
    list-style-type: none;
    
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    padding: 0.5em 2em 0.5em 2em;
    color: #C4122E;
    background-color: none;
    text-decoration: none;
}

nav ul li a:hover {
    padding: 0.5em 2em 0.5em 2em;
    background-color: skyblue;
    color: black;
    text-decoration: none;
}

@media (max-width: 1200px) {
    body {
        width: 80%;
    }
}

@media (max-width: 600px) {
    nav ul {
        width: 80%;
        margin: auto;
        text-align: center;
        list-style-type: none;
    }

    nav ul li {
        display: block;
        width: 80%;
    }

    nav ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        color: #C4122E;
        background-color: none;
        text-decoration: none;
        width: 80%;
    }

    nav ul li a:hover {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        background-color: skyblue;
        color: white;
        text-decoration: none;
        width: 80%;
    }
}